body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E8F5E9;
  /* background-color: #FFE2DF; */
  /* background-color: #66B3A2; */
  /* background-color: #C0D8C0; */
  /* background-color: #ADD8E6; */
  /* background-color: #F2FCFC; */
  /* background-color: #A0D6E5; */


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}